header,footer { clear: both; display: block; }

h1,h2 { margin-bottom: 0px; }
footer { margin-top: 1.5em; }

main { height: 150px; }
#control,#result { float: left; }

#control { width: 100px; }
#result { width: 400px; }

#control input[type=text] { width: 74px; }
#control input[type=button] { width: 80px; }

.flip-clock-wrapper { margin: 0px; }
